{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form | CoderGirl</title>
  
  <link rel="stylesheet" href="{% static 'css/sign_in_up.css' %}">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="#">
        <input type="email" placeholder="Enter your email">
        <input type="password" placeholder="Enter your password">
        <div class="sign__group sign__group--checkbox">
            <div style="display: flex;">
                <input id="remember" name="remember" type="checkbox">
                <label for="remember">Remember Me</label>
            </div>
            <div style="display: flex;">
                <input id="policy" name="policy" type="checkbox">
			    <label for="policy" style="font-size: 16px;">
                    Do you agree with our <a href="#">Terms & Conditions</a> and <a href="#">Privacy Policy</a>
                </label>
            </div>
        </div>
        <input type="button" class="button" value="Login">
      </form>
      <div class="signup">
        <a href="#">Forgot password?</a>
        <span class="signup" style="display: block;">Don't have an account?
         <label for="check">Signup</label>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
