{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/sign_in_up.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Sign-In</title>
</head>
<style>
    #container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        max-width: 430px;
        width: 100%;
}
</style>
<body style='background: url("{% static 'images/bg-image1.jpg' %}");background-repeat: no-repeat;
background-size: cover;height: 100vh;'>
  <!-- Container Start -->
  <div id="container">
    <!-- Form Wrap Start -->
    <div class="form-wrap">
      <h1>Login</h1>
      <!-- Form Start -->
      <form style="padding: 20px;">
        <div class="form-group">
          <input type="email" name="email" id="email" placeholder="Enter your email">
        </div>
        <div class="form-group">
          <input type="password" name="password" id="password" placeholder="Enter your password">
        </div>
        <button type="submit">Login</button>
        <footer>
            <p>Don't have an account? <a href="{% url 'accounts:sign_up' %}" style="color: #0c5299;">Sign Up</a></p>
            <a href="#" style="font-size: 14px;color: #0c5299;">Forgot password?</a>
        </footer>
        <div>
            <h3 style="margin-bottom: 6px;text-align: center;">OR</h3>
            <button type="submit" style="background-color: #fff;color: #333;">
                <i class="fa fa-google" style="font-size: 22px;color: #469e52;margin-right: 10px;"></i>
                <span>Login with Google</span>
            </button>
        </div>
      </form>
      <!-- Form Close -->
    </div>
    <!-- Form Wrap Close -->
  </div>
  <!-- Container Close -->
</body>
</html>