{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login & Registration Form | CoderGirl</title>
  
  <link rel="stylesheet" href="{% static 'css/sign_in_up.css' %}">
</head>
<body>
  <div class="container">
    <input type="checkbox" id="check">
    <div class="login form">
      <header>Login</header>
      <form action="#">
        <input type="email" placeholder="Enter your email">
        <input type="password" placeholder="Enter your password">
        <div class="sign__group sign__group--checkbox">
		    <input id="remember" name="remember" type="checkbox">
            <input id="policy" name="policy" type="checkbox">
			<label for="remember">By Clicking the Sign Up Button, you agree to our <a href="#">Term & Conditions</a> and <a href="#">Privacy Policy</a></label>
		</div>
        <a href="#">Forgot password?</a>
        <input type="button" class="button" value="Login">
      </form>
      <div class="signup">
        <span class="signup">Don't have an account?
         <label for="check">Signup</label>
        </span>
      </div>
    </div>
  </div>
</body>
</html>
