{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block content %}
<style>

</style>
	<header id="featured" class="site-featured">
		<div id="featured-media" class="featured-media">
			<div class="featured-text">
				<div class="container">
					<h2 class="entry-title">Add Investment Project</h2>
				</div>
			</div>
		</div>
	</header>

	<div id="content" class="site-content">
		<main class="site-section section-main">
			<div class="container">
                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
				<div class="row">
					<!-- <div class="w100 spacing1"></div> -->
					<!-- <div class="col-12 col-md-4 col-lg-3">
						<h5>Personal information</h5>
					</div> -->
					<div class="col-12 col-md-12 col-lg-12">
                        <div class="mb-5">
                            <label for="name">Project Name</label>
                            <input type="text" id="name" name="name" class="underline">
                        </div>
                        <div class="mb-5">
                            <label for="motto">Motto</label>
                            <input type="text" id="motto" name="motto" class="underline">
                        </div>
                        <div class="mb-5">
                            <label for="name">Description</label>
                            <textarea cols="30" rows="10" id="description" name="description" class="underline"></textarea>
                        </div>
                        <div class="mb-5">
						    <label for="target">Target Amount</label>
						    <input type="text" id="target" name="target" class="underline">
                        </div>
                        <div class="mb-5">
                            <label for="name">Expected Return</label>
                            <input type="text" id="expected_return" name="expected_return" class="underline">
                        </div>
                        <div class="mb-5">
                            <label for="motto">Term (In Months)</label>
                            <input type="text" id="term_months" name="term_months" class="underline">
                        </div>
                        <div class="mb-5">
                            <label for="name">Country</label>
                            <select id="country" name="country" class="underline">
                                {% for c in countries %}
                                <option value="{{ c.code }}">{{ c.1 }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-5">
                            <label for="motto">Investment Deadline</label>
                            <input type="text" id="investment_deadline" name="investment_deadline" class="underline">
                        </div>

                        <!-- images -->
                        <div class="position-relative display-2 mb-3">
                            <label for="motto">Images 1: </label><br>
                            <input class="button button-primary button-outline mt-3 bg-success btn btn-block" type="file" name="image_1" id="imageFile1" accept="image/*" style="width: 100px;height: 15px;padding-right: 85px;padding-bottom: 35px;" onchange="previewImage(1)">
                            <img id="imagePreview1" src="" alt="Image 1 preview" style="width: 400px;height: 300px;"><br>

                        </div>
                        <div class="position-relative display-2 mb-3">
                            <label for="motto">Images 2: </label><br>
                            <input class="button button-primary button-outline" type="file" name="image_2" id="imageFile2" accept="image/*" style="width: 100px;height: 15px;padding-right: 85px;padding-bottom: 35px;" onchange="previewImage(2)">
                            <img id="imagePreview2" src="" alt="Image 2 preview" style="width: 400px;height: 300px;"><br>

                        </div>
                        <div class="position-relative display-2 mb-3">
                            <label for="motto">Images 3: </label><br>
                            <input class="button button-primary button-outline" type="file" name="image_3" id="imageFile3" accept="image/*" style="width: 100px;height: 15px;padding-right: 85px;padding-bottom: 35px;" onchange="previewImage(3)">
                            <img id="imagePreview3" src="" alt="Image 3 preview" style="width: 400px;height: 300px;"><br>

                        </div>
                        <div class="position-relative display-2 mb-3">
                            <label for="motto">Video: </label>
                            <video width="400" controls>
                            <source src="" id="video_here">
                                Your browser does not support HTML5 video.
                            </video>

                            <input type="file" name="file[]" class="file_multi_video mt-1" accept="video/*" style="width: 600px;height: 15px;padding-right: 85px;padding-bottom: 35px;">
                        </div>
					</div>
                    <!-- <div> -->
                        <div class="w100 spacing1"></div>
					<div class="col-12 col-md-6 col-lg-6 d-inline">
						<h5 class="d-inline">User agreement: </h5>
                        <a class="d-inline" href="#">InnovatorUserAgreement.pdf</a>
					</div>
                        <p class="input-checkbox"><input type="checkbox" id="latest-news" name="latest-news" checked> <label for="latest-news" style="font-weight: 300;">I have read and agree to the Innovator User Agreement.</label></p>
                    <!-- </div> -->
					<div class="w100 spacing1 mt-2"></div>
					<!-- <div class="col-12 col-md-4 col-lg-3">
						<h5>Contact information</h5>
					</div> -->
					<div class="col-12 col-md-8 col-lg-6">
						<button type="submit">Create Project</button>
					</div>
				</div>
            </form>
			</div>
		</main>
	</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
                // JavaScript
        function previewImage(imageNumber) {
        var preview = document.getElementById(`imagePreview${imageNumber}`);
        var file = document.getElementById(`imageFile${imageNumber}`).files[0];
        var reader = new FileReader();

        reader.onloadend = function () {
            preview.src = reader.result;
        }

        if (file) {
            reader.readAsDataURL(file);
        } else {
            preview.src = "";
        }
        }

        $(document).on("change", ".file_multi_video", function(evt) {
        var $source = $('#video_here');
        $source[0].src = URL.createObjectURL(this.files[0]);
        $source.parent()[0].load();
        });

</script>
{% endblock content %}