{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock title %}

	<header id="featured" class="site-featured">
		<div id="featured-media" class="featured-media">
			<div class="featured-text">
				<div class="container">
					<h2 class="entry-title">Add New Investment Project</h2>
				</div>
			</div>
		</div>
	</header>

	<div id="content" class="site-content">
		<main class="site-section section-main">
			<div class="container">
				<h3>Add new Investment Project</h3>
				<div class="row">
					<div class="w100 spacing1"></div>
					<div class="col-12 col-md-4 col-lg-3">
						<h5>User agreement</h5>
					</div>
					<div class="col-12 col-md-8 col-lg-6">
						<a href="#">User agreement 461729.pdf</a>
					</div>
					<div class="w100 spacing1"></div>
					<!-- <div class="col-12 col-md-4 col-lg-3">
						<h5>Personal information</h5>
					</div> -->
					<div class="col-12 col-md-8 col-lg-6">
						<label for="first-name">First name</label>
						<input type="text" id="first-name" name="first-name" class="underline" disabled="" value="John">
						<label for="last-name">Last name</label>
						<input type="text" id="last-name" name="last-name" class="underline" disabled="" value="Doe">
					</div>
					<div class="w100 spacing1"></div>
					<!-- <div class="col-12 col-md-4 col-lg-3">
						<h5>Contact information</h5>
					</div> -->
					<div class="col-12 col-md-12 col-lg-6">
						<label for="email">Email</label>
						<input type="email" id="email" name="email" class="underline" disabled="" value="contact@johndoe.com">
						<label for="phone">Phone</label>
						<input type="tel" id="phone" name="phone" class="underline" value="+372 6891 1199">
						<label for="country">Country</label>
						<select id="country" name="country" class="underline">
							<option value="lv">Latvia</option>
							<option value="es" selected="">Estonia</option>
							<option value="lt">Lithuania</option>
						</select>
						<label for="city">City</label>
						<input type="text" id="city" name="city" class="underline" value="Tallinn">
						<label for="address">Address</label>
						<input type="text" id="address" name="address" class="underline" value="Streetname 2">
					</div>
					<div class="w100 spacing1"></div>
					
					<div class="col-12 col-md-8 col-lg-6 offset-md-4 offset-lg-3">
						<button type="submit">Save changes</button>
					</div>
				</div>
			</div>
		</main>
	</div>
{% endblock content %}