<!DOCTYPE html>
<html>
<head>
    <title>Crowdsourceit - Confirm NIN</title>
    <!-- Add Bootstrap CSS link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f7f7f7;
        }
        /*  */
    </style>
</head>
<body>
    <div class="container d-flex justify-content-center">
        <div class="mt-5 p-5" style="border: 1px whitesmoke thick;background-color: rgb(211, 208, 208);border-radius: 10px;max-width: 500px;">
            <form style="">
                <h2 class="text-success text-center mb-5 fw-bold">Confirm your National Identification Number(NIN)</h2>
                <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label fw-bold">NIN Number</label>
                <input type="password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nin">
                <div id="emailHelp" class="form-text">We'll never share your NIN and sensitive data with anyone.</div>
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        </div>
        <!-- <div class="form-container">
            <h2 class="text-success mb-5 font-weight-bold">Confirm your National Identification Number(NIN)</h2>
            <small id="small">To enhance security and ensure the integrity of your account, please furnish us with your National Identification Number (NIN), the same one you initially provided on the "Edit Profile" page. This will enable us to verify that the account rightfully belongs to you and is not under unauthorized access or hacking attempts before we proceed with authorizing the fund transfer.</small>
            <form class="mt-3" action="{% url 'kbq_confirmation' %}" method="post">
                {% csrf_token %}
                <p class="font-weight-bold"></p>
                <div class="form-group">
                    
                    <input type="text" class="form-control" id="userAnswer" placeholder="Enter your answer" required name="kbq_answer">
                </div>
                <button type="submit" class="btn btn-success btn-block">Submit</button>
            </form>
        </div> -->
    </div>

    <!-- Add Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
