{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
	<header id="featured" class="site-featured">
		<div id="featured-media" class="featured-media has-media">
			<div class="featured-text">
				<div class="container">
					<h2 class="entry-title">Get in touch</h2>
				</div>
			</div>
			<img src="{% static 'bg-image.jpg' %}" alt="">
		</div>
	</header>

	<div id="content" class="site-content">
		<main class="site-section section-main">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-8">
						<h3>How can we help?</h3>
						<p>Founded by Pigment &amp; Rogers in October 1998, CrowdInvest has grown from a hard working duo to a team of over twenty experienced professionals. Our success catsear courgette summer purslane. Water spinach arugula pea tatsoi aubergine spring onion bush radicchio turnip chicory salsify fava bean successful and in control.</p>
					</div>
					<div class="spacing1"></div>
					<div class="col-6 col-lg-3">
						<div class="featured-box">
							<em class="featured-box-icon mdi mdi-face-agent"></em>
							<h5 class="featured-box-title">Live chat</h5>
							<p class="featured-box-content">Get help from our staff</p>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<div class="featured-box">
							<em class="featured-box-icon mdi mdi-email-outline"></em>
							<h5 class="featured-box-title">Email us</h5>
							<p class="featured-box-content">contact@crowdinvest.com</p>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<div class="featured-box">
							<em class="featured-box-icon mdi mdi-phone-outline"></em>
							<h5 class="featured-box-title">Call us</h5>
							<p class="featured-box-content">+371 6891 1199</p>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<div class="featured-box">
							<em class="featured-box-icon mdi mdi-newspaper-variant-outline"></em>
							<h5 class="featured-box-title">Read our blog</h5>
							<p class="featured-box-content">Follow the latest news</p>
						</div>
					</div>
					<div class="spacing1"></div>
					<div class="col-12">
						<h3>Our office locations</h3>
					</div>
					<div class="col-sm-6">
						<div class="image-split-box">
							<img src="tmp/sample-location.jpg" alt="">
							<div class="box-content">
								<h5>CrowdInvest Latvia</h5>
								<p>Streetname 13, Rīga, <br>+371 6891 1199 <br><a href="#">latv@crowdinvest.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="image-split-box">
							<img src="tmp/sample-location.jpg" alt="">
							<div class="box-content">
								<h5>CrowdInvest Estonia</h5>
								<p>Streetname 2, Tallinn, <br>+371 6891 1199 <br><a href="#">est@crowdinvest.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="image-split-box">
							<img src="tmp/sample-location.jpg" alt="">
							<div class="box-content">
								<h5>CrowdInvest Lithuania</h5>
								<p>Streetname 4, Vilnius, <br>+371 6891 1199 <br><a href="#">lith@crowdinvest.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="image-split-box">
							<img src="tmp/sample-location.jpg" alt="">
							<div class="box-content">
								<h5>CrowdInvest Poland</h5>
								<p>Streetname 12, Warsaw, <br>+371 6891 1199 <br><a href="#">pol@crowdinvest.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
{% endblock content %}