{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block content %}
	<header id="featured" class="site-featured">
		<div id="featured-media" class="featured-media has-media">
			<div class="featured-text">
				<div class="container">
					<h2 class="entry-title">Get in touch</h2>
				</div>
			</div>
			<img src="https://i.natgeofe.com/n/0d68d443-1269-4d4a-ba34-aecd64faad03/silicon-valley-apple-headquarters-aerial_4x3.jpg" alt="">
		</div>
	</header>

	<div id="content" class="site-content">
		<main class="site-section section-main">
			<div class="container">
				<div class="row">
					<div class="col-12 col-md-8">
						<h3>How can we help?</h3>
						<p>Founded by 
							<a href="https://www.toshiro.tech" class="text-decoration-none">Godwin Adigun</a>
							 in January 2023, Summit has grown from a hard working solo to a company of over twenty million experienced professionals.</p>
					</div>
					<div class="spacing1"></div>
					<div class="col-4 col-lg-4">
						<div class="featured-box">
							<em class="featured-box-icon mdi mdi-face-agent"></em>
							<h5 class="featured-box-title">Live chat</h5>
							<p class="featured-box-content">Get help from our staff</p>
						</div>
					</div>
					<div class="col-4 col-lg-4">
						<div class="featured-box">
							<em class="featured-box-icon mdi mdi-email-outline"></em>
							<h5 class="featured-box-title">Email us</h5>
							<p class="featured-box-content">contact@summit.com</p>
						</div>
					</div>
					<div class="col-4 col-lg-4">
						<div class="featured-box">
							<em class="featured-box-icon mdi mdi-phone-outline"></em>
							<h5 class="featured-box-title">Call us</h5>
							<p class="featured-box-content">+2349151885155</p>
						</div>
					</div>
					<!-- <div class="col-6 col-lg-3">
						<div class="featured-box">
							<em class="featured-box-icon mdi mdi-newspaper-variant-outline"></em>
							<h5 class="featured-box-title">Read our blog</h5>
							<p class="featured-box-content">Follow the latest news</p>
						</div>
					</div> -->
					<div class="spacing1"></div>
					<div class="col-12">
						<h3>Our office locations</h3>
					</div>
					<div class="col-sm-6">
						<div class="image-split-box">
							<img src="https://images.unsplash.com/photo-1508433957232-3107f5fd5995?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8dXNhfGVufDB8fDB8fHww" alt="">
							<div class="box-content">
								<h5>Summit USA</h5>
								<p>Streetname 13, Rīga, <br>+1578911199 <br><a href="#">usa@summit.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="image-split-box">
							<img src="https://www.travelandleisure.com/thmb/3Iul9mBZaj40HHmCaHzL6z7Y5J0=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/london-cityscape-UKESSAY1222-3c3b4b23062f410080b77839b31243a6.jpg" alt="">
							<div class="box-content">
								<h5>Summit United Kingdon</h5>
								<p>Streetname 2, Tallinn, <br>+4415681199 <br><a href="#">uk@summit.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="image-split-box">
							<img src="https://brandcom.ng/wp-content/uploads/2022/09/lagos-1024x683.jpeg" alt="">
							<div class="box-content">
								<h5>Summit Nigeria</h5>
								<p>Streetname 4, Vilnius, <br>+2347019062597 <br><a href="#">nigeria@summit.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="image-split-box">
							<img src="https://www.corporateknights.com/wp-content/uploads/2022/04/Photo-of-Tokyo-by-Simone-ParisiFlickr.jpg" alt="">
							<div class="box-content">
								<h5>Summit Japan</h5>
								<p>Streetname 12, Warsaw, <br>+8168911199 <br><a href="#">japan@summit.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
{% endblock content %}