{% extends 'base.html' %}
{% load static %}
{% block title %}Fund or Withdraw{% endblock title %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<div class="container">

    <div>
        <!-- <ul class="tabs clearfix">
            <li><a href="#tab-deposit" class="tab-link-active">Deposit</a></li>
            <li><a href="#tab-withdraw">Withdraw</a></li>
        </ul> -->
        <div id="tab-deposit" class="mb-5" style="background-color: whitesmoke;padding: 40px;">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <script src="https://js.paystack.co/v1/inline.js"></script>
                    <form class="mb-4" method="POST" id="payForm" action="{% url 'deposit' %}">
                        {% csrf_token %}
                        <h4>Deposit</h4>
                        <input type="text" id="hide" style="visibility: hidden;" value="False" name="bool">
                        <p>To begin investing you need to deposit funds to your Investor Account by making transfer to the bank account stated below. Processing may take up to 2-3 working days. Once deposited funds are added to your Investor Account, you will receive a confirmation e-mail and will be able to make investments.</p>
                        <input type="number" step="0.1" min=0 placeholder="Amount" name="amount" id="amount">
                        <button onclick="makePayment()" name="deposit" type="button">Deposit</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="tab-withdraw" style="background-color: whitesmoke; padding: 40px;">
            <div class="row">
                <div class="col-12 col-lg-12">
                    <form name="withdraw_form" method="POST" action="{% url 'deposit' %}">
                        {% csrf_token %}
                        <h4>Withdraw</h4>
                        <div class="mb-3">
                            <span class="fw-bold">Available Funds: </span>
                            ₦{{ innovator.account_balance }}
                        </div>
                        {% if status == True %}
                        <div>
                            <p>
                                <span class="fw-bold">Bank Name: </span>
                                {{ bank_name }}
                            </p>
                            <p>
                                <span class="fw-bold">Account Number: </span>
                                {{ account_data.account_number }}
                            </p>
                            <p>
                                <span class="fw-bold">Account Name: </span>
                                {{ account_data.account_name }}
                            </p>

                        </div>
                        {% endif %}
                        <div class="data-box">
                            
                            <input name="withdraw_amount" type="number" step="0.1" min=0 placeholder="Amount" value="{{ withdraw_amount }}">
                            
                            
                            <input name="withdraw_to" type="text" placeholder="Account Number" value="{{ account_number }}">
                            {% if status %}
                            <input type="text" name="withdraw_2" hidden>
                            <!-- <div class="data-actions"><button type="submit" name="withdraw_2">Withdraw</button></div> -->
                            {% endif %}
                            <select id="bank_code" name="bank_code">
                                <option value="{{ bank_code }}" selected>{{ bank_name }}</option>
                                {% for bank in banks %}
                                <option value='{{ bank.code }}'>{{ bank.name }}</option>
                                {% endfor %}
                            </select>

                            <!-- <div class="data-actions"><button type="submit" onclick="clicked()" name="withdraw">Withdraw</button></div> -->
                            <div class="data-actions"><button type="submit" name="withdraw">Withdraw</button></div>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    // document.getElementById('make-payment-btn').addEventListener('click', makePayment);
    function makePayment(){
        let amount = document.getElementById('amount').value
    // e.preventDefault();
    let handler = PaystackPop.setup({
            key: 'pk_test_94c9c0292b58b03a1e0feaa5b1b1da81b04b0873', //public key from your paystack
            email: '{{ user.email }}',
            amount:`${amount}` * 100,
            currency:'NGN',
            // ref: ''+Math.floor((Math.random() * 100000000) + 1),
            // ref: ''+Math.floor((Math.random() * 1000000000) + 1),
            callback: function(response){
        document.getElementById('hide').value = 'True';
        
        // document.getElementById('hide').style.visibility = 'visible';
        document.getElementById('payForm').submit();
        alert('Success. Transaction ref is ' +response.reference);
    },
    onClose: function(){
        alert('Window Closed');
    }
    });
    handler.openIframe();
}
// window.onload = makePayment()
</script>

<!-- <script>
    $(document).ready(function() {
      // Listen for the form submission
      $('form[name="withdraw_form"]').submit(function(e) {
        e.preventDefault(); // Prevent the form from submitting the traditional way
  
        // Use AJAX to submit the form data and check for correctness on the server
        $.ajax({
          type: 'POST',
          url: '{% url "deposit" %}',
          data: $(this).serialize(), // Serialize form data
          success: function(response) {
            if (response.is_valid) {
              // Display the modal if the form is valid
            //   window.location.href = '{% url "deposit" %}';
              console.log('YESSIRRRR')
              $('#myModal').modal('show');
            } else {
              // Handle form errors here if needed
              console.log('Form is not valid');
            }
          },
        });
      });
  
      // Trigger the modal when the button is clicked
      $('#myModalBtn').click(function() {
        $('#myModal').modal('show');
      });
    });
  </script> -->
  <script>
    window.onload = function () {
        OpenBootstrapPopup();
    };
    function OpenBootstrapPopup() {
        $("#Modal").modal('show');
    }
  </script>
  <script type="text/javascript">
    function clicked() {
       if (confirm('Do you want to submit?')) {
           yourformelement.submit();
       } else {
           return false;
       }
    }

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock content %}