{% extends 'base.html' %}
{% load static %}
{% load business_type_filter %}
{% block title %}CrowdSourceIt - Innovation Details{% endblock title %}
{% block content %}
<link href="{% static 'core/css/styles2.css %'}" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
<style>
    .django-ckeditor-widget{
        width: 100%;
        /* border: 2px solid red; */
        }
        #myForm {
            display: none;
        }
        .total-like {
            border: 1px solid;
            border-radius: 50px;
            display: inline-block;
            font-weight: 500;
            height: 34px;
            line-height: 33px;
            padding: 0 13px;
            vertical-align: top;
        }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<div class="container mt-5" >
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {% if success %}
        {% endif %}
        <li  {% if message.tags %} class="fadeout p-3 text-center {{ message.tags }} " {% endif %} style="list-style: none;"> {{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="col-lg-8 col-xl-8 col-md-12 cols-sm-12">
            <!-- Post content-->
                    <!-- Post content-->
                    <div style="padding: 20px 60px;width: 100%;border-radius: 10px;border: 1px rgb(219, 214, 214) solid;" class="bg-light">
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-2">{{ innovation.title|title }}</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-4">Posted on {{ innovation.date_created }} by 
                                {% if innovation.owner.user.pk != request.user.pk %}
                                <a href="{% url 'accounts:profile_with_arg' innovation.owner.pk %}">
                                {% else %}
                                <a href="{% url 'accounts:profile' %}">
                                {% endif %}
                                {% if innovation.owner.user.middle_name %}
                                {{ innovation.owner.user.last_name }}, {{innovation.owner.user.first_name}} {{ innovation.owner.user.middle_name}}
                                {% else %}
                                {{innovation.owner.user.first_name}} {{ innovation.owner.user.last_name }}
                                {% endif %}
                                </a>
                            </div>
                            <!-- Post categories-->
                            {% for category in innovation.category|remove_chars %}
                                <a class="badge bg-success text-decoration-none link-light" href="#!">{{ category }}</a>
                                {% with success=None %}{% endwith %}
                            {% endfor %}
                            <!-- <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a> -->
                        </header>
                        <!-- Preview image figure-->
                        {% if innovation.image %}
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ innovation.image.url }}" alt="..." style="height: 550px;width: 100%;" /></figure>
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="mb-4">
                                <span> {{ innovation.description|safe }}</span></p>
                        </section>
                    </article>
                    </div>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light mt-5">
                            <div class="card-body p-5">
                                <h5>Make a contribution</h5>
                                <!-- Comment form-->
                                <div>
                                <form class="mb-4" method="POST">
                                    {% csrf_token %}
                                    <!-- Comment with nested comments-->
                                    <!-- <div class="d-flex mb-4"> -->
                                        <!-- Parent comment-->
                                        <!-- <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                        <div class="ms-3">
                                            <div class="fw-bold">Commenter Name</div>
                                            If you're going to lead a space frontier, it has to be government; it'll never be private enterprise. Because the space frontier is dangerous, and it's expensive, and it has unquantified risks. -->
                                            <!-- Child comment 1-->
                                            <!-- <div class="d-flex mt-4">
                                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                                <div class="ms-3">
                                                    <div class="fw-bold">Commenter Name</div>
                                                    And under those conditions, you cannot establish a capital-market evaluation of that enterprise. You can't get investors.
                                                </div>
                                            </div> -->

                                            <!-- Child comment 2-->
                                            <!-- <div class="d-flex mt-4">
                                                <div class="flex-shrink-0"><img class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg" alt="..." /></div>
                                                <div class="ms-3">
                                                    <div class="fw-bold">Commenter Name</div>
                                                    When you put money directly to a problem, it makes a good headline.
                                                </div>
                                            </div>
                                        </div> -->
                                    <!-- </div> -->

                                    
                                    <!-- Single comment-->                                    
                                    
                                    <div class="mt-3">

                                    </div>
                                    {{ contribution_form.media }}
                                    <p>{{ contribution_form.contribution }}</p>
                                    <button class="mt-3 button-primary button-outline" name="contribute" type="submit" style="border-radius: 5px;">Contribute</button>
                                </form>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 bg-light mb-4" style="border-radius: 10px;border: 1px solid rgb(197, 194, 194);">
                    <p class="fw-bold text-center" style="margin-left: 27px;">Contributions</p>
                    <!-- Search widget-->
                    <div class="d-flex mb-4 row">
                        {% if not contributions %}
                        <p class="text-center">
                            No contribution has been made
                        </p>
                        {% else %}
                        {% for contrib in contributions %}
                        <div class="mb-5 py-3" style="border-top: 1px solid rgb(191, 206, 196);">
                            <p class="col-2">
                                <a href="{% url 'accounts:profile_with_arg' contrib.contributor.pk %}" style="text-decoration: none;font-style: italic;">
                                    @{{ contrib.contributor.user.username }}
                                </a>
                            </p>
                            <div class="mb-5 p-3 mx-lg-5 col-lg-10" style="background-color: rgb(220, 236, 231);border-radius: 10px;">
                                <div class="row">
                                    <span class="col-2">
                                        {% if contrib.accepted %}
                                        <p>
                                            <i class="fa-solid fa-check text-success fs-1"></i>
                                        </p>
                                        {% endif %}
                                        
                                    </span>
                                    <span class="col-10" style="cursor: pointer;">
                                            {{ contrib.contribution|safe }}
                                            {% if request.user.is_authenticated %}
                                        <span class="upvote-btn fs-5 arrow text-success total-like" data-contrib-pk="{{ contrib.pk }}">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span id="upvote-count-{{ contrib.pk }}" style="font-size: 14px;">{{ contrib.upvotes }}</span>
                                        </span>
                                        <span class="downvote-btn fs-5 text-danger total-like" data-contrib-pk="{{ contrib.pk }}">
                                            <i class="fa fa-thumbs-down"></i>
                                            <span id="downvote-count-{{ contrib.pk }}" style="font-size: 14px;">{{ contrib.downvotes }}</span>
                                        </span>
                                        {% else %}
                                        <span class="upvote-btn fs-5 arrow text-success total-like" data-contrib-pk="{{ contrib.pk }}">
                                            <i class="fa fa-thumbs-up"></i>
                                            <span style="font-size: 14px;">{{ contrib.upvotes }}</span>
                                        </span>
                                        <span class="downvote-btn fs-5 text-danger total-like" data-contrib-pk="{{ contrib.pk }}">
                                            <i class="fa fa-thumbs-down"></i>
                                            <span style="font-size: 14px;">{{ contrib.downvotes }}</span>
                                        </span>
                                        {% endif %}
                                    </span>
                                </div>
                            <!-- <div class="ms-3 "> -->
                                <!-- <div class="fw-bold"> -->
                            </div>
                            {% if contrib.innovation.owner.user.pk == request.user.pk and not is_answered %}
                            {% if not contrib.accepted %}
                            <a href="{% url 'accept_contribution' contrib.pk %}" style="text-decoration: none;">
                                <button class="button button-primary button-outline">
                                    Accept
                                </button>
                            </a>
                            {% endif %}
                            
                            {% if contrib.accepted %}
                            <a href="{% url 'unaccept_contribution' contrib.pk %}" style="text-decoration: none;">
                                <button class="button button-primary button-outline">
                                    Unaccept
                                </button>
                            </a>
                            {% endif %}

                            <!-- {% if contrib.accepted and not contrib.is_paid and contrib.innovation.reward > 0 %}
                            <a href="" style="text-decoration: none;">
                                <button class="button button-primary button-outline" style="float: right;" id="pay-contributor">
                                    Pay
                                </button>
                            </a>
                            {% endif %} -->
                            {% endif %}
                        </div>
                            {% endfor %}
                            {% endif %}
                        </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    </div>
    <script>
        $('#pay-contributor').click(function () {
            
        })
    </script>
    <script>
        // Function to hide the toast element
        function hideToast() {
            $('.fadeout').fadeOut('slow', function() {
                // Animation complete, you can optionally remove the element from the DOM
                $(this).remove();
            });
        }
    
        // Set a timeout to call the hideToast function after 9 seconds (9000 milliseconds)
        setTimeout(hideToast, 5000);
    
    </script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        var upvoteURL = "{% url 'upvote_contribution' contribution_pk=0 %}"; // Use '0' as a placeholder
        var downvoteURL = "{% url 'downvote_contribution' contribution_pk=0 %}"; // Use '0' as a placeholder
        var csrfToken = "{{ csrf_token }}";
    
        $(document).ready(function () {
            // Function to get CSRF token from cookies
            function getCookie(name) {
                var cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    var cookies = document.cookie.split(';');
                    for (var i = 0; i < cookies.length; i++) {
                        var cookie = jQuery.trim(cookies[i]);
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
    
            // Upvote button click handler
            $('.upvote-btn').on('click', function () {
                var contribPk = $(this).data('contrib-pk');
                var csrftoken = getCookie('csrftoken');
    
                $.ajax({
                    type: 'POST',
                    url: upvoteURL.replace('0', contribPk),
                    data: {
                        csrfmiddlewaretoken: csrftoken
                    },
                    success: function (data) {
                        if (data.error) {
                            alert(data.error); // Display an error message if the user has already upvoted
                        } else {
                            // Increment the upvote count on the page
                            var upvoteCount = $('#upvote-count-' + contribPk);
                            upvoteCount.text(data.upvotes);

                            var downvoteCount = $('#downvote-count-' + contribPk);
                            downvoteCount.text(data.downvotes);
                            
                        }
                    }
                });
            });
    
            // Downvote button click handler
            $('.downvote-btn').on('click', function () {
                var contribPk = $(this).data('contrib-pk');
                var csrftoken = getCookie('csrftoken');
    
                $.ajax({
                    type: 'POST',
                    url: downvoteURL.replace('0', contribPk),
                    data: {
                        csrfmiddlewaretoken: csrftoken
                    },
                    success: function (data) {
                        if (data.error) {
                            alert(data.error); // Display an error message if the user has already downvoted
                        } else {
                            var upvoteCount = $('#upvote-count-' + contribPk);
                            upvoteCount.text(data.upvotes);
                            // Decrement the downvote count on the page
                            var downvoteCount = $('#downvote-count-' + contribPk);
                            downvoteCount.text(data.downvotes);

                        }
                    }
                });
            });
        });
    </script>
{%endblock content %}