{% extends 'base.html' %}
{% load static %}
{% block title %}Investment Capital{% endblock title %}
{% block content %}
<style>
    #loading {
      position: fixed;
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0.7;
      background-color: #fff;
      z-index: 99;
    }
    
    #loading-image {
      z-index: 100;
    }
</style>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<div id="loading">
    <img id="loading-image" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/e8305169321565.5b7d0cbe717fe.gif" alt="Loading..." />
</div>
<div class="container table-responsive" style="margin-top: 80px;">

    <table class="table" style="border-collapse: separate;
    border-spacing:0 20px;" >
        <thead>
          <tr>
            <th class="text-success fw-bold">ID</th>
            <th class="text-success fw-bold">Project Name</th>
            <th class="text-success fw-bold">Approved</th>
            <th class="text-success fw-bold">Target</th>
            <th class="text-success fw-bold">Fund Raised</th>
            <th class="text-success fw-bold">Amount Left</th>
            <th class="text-success fw-bold">Expected Return</th>
            <th class="text-success fw-bold">Term Months</th>
            <th class="text-success fw-bold">Sector</th>
            <th class="text-success fw-bold"></th>
          </tr>
        </thead>
        <tbody>
            {% for project in projects_owned %}
            {% if project.status.lower == 'approved' and project.fund_raised is not None and project.fund_raised > 0 %}
                <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop{{ project.pk }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel{{ project.pk }}" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel{{ project.pk }}">Withdraw Project Funds</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form name="withdraw_form" method="POST" id="withdraw_project_funds_form{{ project.pk }}">
                                    {% csrf_token %}
                                    <!-- <h4>Withdraw</h4> -->
                                    <div class="mb-3">
                                        <span class="fw-bold">Available Funds: </span>
                                        ₦{{ project.fund_raised }}
                                    </div>
                                    <div class="data-box">
                                        
                                        <input name="withdraw_amount" id="withdraw_amount" type="number" step="0.1" min=0 placeholder="Amount">
                                        
                                        
                                        <input name="withdraw_to" id="withdraw_to" type="text" placeholder="Account Number">
                                        
                                        {% if status %}
                                        <input type="text" name="withdraw_2" id="" hidden>
                                        {% endif %}
                                        
                                        <!-- <div class="data-actions"><button type="submit" name="withdraw_2">Withdraw</button></div> -->
                                        <select id="bank_code" name="bank_code">
                                            <option value="{{ bank_code }}" selected>{{ bank_name }}</option>
                                            {% for bank in banks %}
                                            <option value='{{ bank.code }}'>{{ bank.name }}</option>
                                            {% endfor %}
                                        </select>

                                        <!-- 22 -->
                                        <div class="data-actions mt-3">
                                            <button type="button" name="withdraw" data-bs-toggle="modal" data-bs-target="#exampleModal{{ project.pk }}" class="button button-primary initialWithdrawButton" id="initialWithdrawButton{{ project.pk }}">Withdraw Funds</button>
                                        </div>
                                        <!-- <button class="mt-3 button button-primary" type="submit">
                                            Withdraw
                                        </button> -->
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <!-- <button type="button" class="btn btn-primary">Understood</button> -->
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="modal fade" id="exampleModal{{ project.pk }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ project.pk }}" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content" id="modal_content{{ project.pk }}">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel{{ project.pk }}">Beneficiary Account Details</h5>
                            <!-- <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                            </div>
                            <div class="modal-body px-2" id="modal_body{{ project.pk }}">
                                <div>
                                    <span class="fw-bold">Bank Name: </span>
                                    <span id="bank_name{{ project.pk }}"></span>
                                </div>
                                <div class="mt-2">
                                    <span class="fw-bold">Account Number: </span>
                                    <span id="account_number{{ project.pk }}"></span>
                                </div>
                                <div class="mt-2">
                                    <span class="fw-bold">Account Name: </span>
                                    <span id="account_name{{ project.pk }}"></span>
                                </div>
                                <div class="mt-2">
                                    <span class="fw-bold">Amount: </span>
                                    ₦<span id="amount{{ project.pk }}"></span>
                                </div>
                        </div>
                        <p id="modal_body2{{ project.pk }}" class="px-3 pt-3 text-danger">
                            
                        </p>
                        <div class="modal-footer">
                            <a href="">
                                <button type="button" class="btn btn-secondary close" data-bs-dismiss="modal" id="close">Close</button>
                            </a>
                            <a href="{% url 'withdraw_project_funds' project.pk %}">
                                <button type="button" class="btn btn-success" id="confirmWithdrawal{{ project.pk }}">Confirm Withdrawal</button>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                {% endif %}
                <script>
                    $(document).ready(function () {
                    function displayForSixSeconds() {
                            var loadingElement = document.getElementById("loading");
                            console.log('BREV')
                            // Display the element
                            loadingElement.style.display = "flex";
                            
                            // Set a timer to hide the element after 6 seconds
                            setTimeout(function () {
                                loadingElement.style.display = "none";
                                // console.log('MODAL CONTENT: ', document.getElementById("modal_content" + a).innerHTML)
                                // document.getElementById("modal_content" + a).style.display = 'block';
                                
                                document.getElementById("modal_content" + a).style.display = 'block';
                                // console.log('MODAL CONTENT: ', document.querySelector("#modal_content" + a).innerHTML)
                            }, 6000); // 6000 milliseconds = 6 seconds
                        }

                    var a = "{{ project.pk }}"
                    // $(document).ready(function () {
                        $("#initialWithdrawButton" + a).click(function () {
                            // e.preventDefault();
                            console.log("Button clicked!");
                            document.getElementById("modal_content" + a).style.display = 'none';
                            
                            // console.log('AMOUNT: ', document.getElementById("bro").value)
                            // var formData = $("#withdraw_project_funds_form").serialize();
                            // var form = document.getElementById('withdraw_project_funds_form');
                            // var amountInput = document.getElementById("withdraw_amount");
                            // var withdrawToInput = document.getElementById("withdraw_to");
                            // var bankCodeInput = document.getElementById("bank_code");
                            var formData = $("#withdraw_project_funds_form" + a).serialize();
                
                
                            // Create a new FormData object
                            // var formData = new FormData();
                
                            // formData.append('withdraw_amount', amountInput.value);
                            // formData.append('withdraw_to', withdrawToInput.value);
                            // formData.append('bank_code', bankCodeInput.value);
                            // Call the function to display the element for 6 seconds
                            displayForSixSeconds();
                            // document.getElementById("modal_content").style.display = 'block';
                            console.log(formData)
                            // Manually add the CSRF token to the data
                            formData += '&csrfmiddlewaretoken=' + $("[name=csrfmiddlewaretoken]").val();
                            
                            $.ajax({
                                type: "POST",
                                url: "{% url 'get_bank_details' %}",
                                data: formData,
                                success: function (response) {
                                    
                                    if (response.status === 'success') {
                                    // Update the resultDiv with the response data
                                    console.log('RESPONSE: ', response)
                                    $("#bank_name" + a).html(response.bank_name);
                                    $("#account_number" + a).html(response.account_data.account_number);
                                    $("#account_name" + a).html(response.account_data.account_name);
                                    $("#amount" + a).html(response.withdraw_amount);
                                    // console.log('YESSITRRR')
                                    document.getElementById("modal_body" + a).style.display = 'block';
                                    $("#modal_body" + a).show();
                                    // console.log('MODAL BODY: ', $("#modal_body").innerHTML)

                                    console.log('YESSITRRR')
                                    // $('#modal_body2').replaceWith('')
                                    document.getElementById('modal_body2' + a).innerHTML = '<p style="color: red;display: none">Could not resolve account name</p>';
                                    $("#confirmWithdrawal" + a).show();
                                    }
                                    else {
                                        console.log('YO BRO')
                                        // $('#modal_body').hide();
                                        document.getElementById('modal_body' + a).style.display = 'none';
                                        
                                        document.getElementById('modal_body2' + a).innerHTML = '<p style="color: red;">Could not resolve account name</p>';
                                        // var errorMessage = '<p style="color: red; padding: 10px;">Could not resolve account name</p>';
                                        // $("#modal_body2").replaceWith(errorMessage);
                
                                        
                                        $("#confirmWithdrawal" + a).hide();
                                        
                                    }
                                },
                                // error: function (xhr, status, error) {
                                //     console.log('yessirrr')
                                //     $('#confirmWithdrawal').hide();
                                //     $("#modal_body").html('Could not resolve account name');
                
                                // }
                                
                            });
                        });
                            
                       
                
                    });
                
                    
                </script>
          <tr>
            <th class="" scope="row">{{ forloop.counter }}</th>
            <td class="">{{ project.name }}</td>
            <td class="">
                {% if project.status.lower == 'approved' %}
                ✅
                {% else %}
                ❌
                {% endif %}
            </td>
            <td class="">₦{{ project.target }}</td>
            <td class="">
                {%if project.fund_raised is None %}
                ₦0
                {% else %}
                ₦{{ project.fund_raised }}
                {% endif %}
            </td>
            <td class="">
                {%if project.amount_left is None %}
                ₦0
                {% else %}
                ₦{{ project.amount_left }}
                {% endif %}
            </td>
            <td class="">%{{ project.expected_return }}</td>
            <td class="">{{ project.term_months }}</td>
            <td class="">{{ project.business_type }}</td>
            
            <td class="text-success">
                <div class="dropdown">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#009900" class="w-6 h-6 dropdown-toggle" style="width: 30px;" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                    </svg>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="{% url 'project_details' project.pk %}">View Details</a></li>
                        {% if project.fund_raised is not None and project.fund_raised > 0 %}
                        <li><a class="dropdown-item" href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ project.pk }}">Withdraw Funds</a></li>
                        {% endif %}
                    </ul>
                </div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>


<script>
    window.onload = function () {
        OpenBootstrapPopup();
    };
    function OpenBootstrapPopup() {
        $("#Modal").modal('show');
    }

</script>
{% endblock content %}