{% extends 'base.html' %}
{% load static %}
{% load business_type_filter %}
{% block title %}Milestone Detail{% endblock title %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://js.paystack.co/v1/inline.js"></script>
	<header id="featured" class="site-featured">
		<div id="featured-media" class="featured-media has-media">
			<div class="featured-text">
				<div class="container">
					<h2 class="entry-title">{{ project_milestone.title }}</h2>
				</div>
			</div>
			
		</div>
	</header>

	<div id="content" class="site-content">
		<main class="site-section section-main">
			<div class="container">
				<div class="row">
					<div class="text-muted fst-italic mb-4">Posted on {{ project_milestone.date_added }} by <a href="{% url 'accounts:profile_with_arg' project_milestone.project.innovator.pk %}">
						{% if project_milestone.project.innovator.user.middle_name %}
						{{ project_milestone.project.innovator.user.last_name }}, {{ project_milestone.project.innovator.user.first_name }} {{ project_milestone.project.innovator.user.middle_name }}
						{% else %}
						{{ project_milestone.project.innovator.user.first_name }} {{ project_milestone.project.innovator.user.last_name }}
						{% endif %}
					</a>
					</div>
					
					<div class="col-3 mb-5 d-inline">
						Status: 
						<span class="badge bg-success text-decoration-none link-light">
							{{ project_milestone.status }}
						</span>
					</div>
					<div class="col-12">
						<h3>Project Milestone Description</h3>
						<span>
                            <h4>Description</h4>
                            : {{ project_milestone.description }}
                        </span>
						<span>
                            <h4>Target Date</h4>
                            : {{ project_milestone.target_date }}
                        </span>
					</div>
					<div class="col-12">
						<h3>Project Progress Report</h3>
						<p>{{ project_milestone.progress_report }}</p>
					</div>
					
				</div>
				<div class="row">
					<div class="col-12">
						<h3>Project Milestone Gallery</h3>
						<div class="video-wrapper status-pause">
							<video id="sample-video" src="{{ project_milestone.video.url }}" poster="{{ project_milestone.video.url }}"></video>
							<a href="#sample-video" class="video-playback"><span class="progress"></span><em class="mdi mdi-play"></em><em class="mdi mdi-pause"></em></a>
						</div>
                        {% if project_milestone.image_1.url and not project_milestone.image_2.url and not project_milestone.image_3.url %}
						<div class="gallery gallery-columns-1">
                        {% elif project_milestone.image_1.url and project_milestone.image_2.url and not project_milestone.image_3.url %}
                        <div class="gallery gallery-columns-2">
                        {% elif project_milestone.image_1.url and not project_milestone.image_2.url and project_milestone.image_3.url %}
                        <div class="gallery gallery-columns-2">
                        {% elif project_milestone.image_1.url and project_milestone.image_2.url and project_milestone.image_3.url %}
                        <div class="gallery gallery-columns-3">
                        {% endif %}
							<figure class="gallery-item">
								<div class="gallery-icon">
									<a href="{{ project_milestone.image_1.url }}" data-fancybox="test-gallery"><img src="{{ project_milestone.image_1.url }}" alt="" style="width: 1100px;height: 350px;"></a>
								</div>
							</figure>
                            {% if project_milestone.image_2.url %}
                            <figure class="gallery-item">
								<div class="gallery-icon">
									<a href="{{ project_milestone.image_2.url }}" data-fancybox="test-gallery"><img src="{{ project_milestone.image_2.url }}" alt="" style="width: 1100px;height: 350px;"></a>
								</div>
							</figure>
                            {% endif %}
                            {% if project_milestone.image_3.url %}
                            <figure class="gallery-item">
								<div class="gallery-icon">
									<a href="{{ project_milestone.image_3.url }}" data-fancybox="test-gallery"><img src="{{ project_milestone.image_3.url }}" alt="" style="width: 1100px;height: 350px;"></a>
								</div>
							</figure>
                            {% endif %}
						</div>
				</div>
			</div>
		</main>	
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock content %}