{% extends 'base.html' %}
{% load static %}
{% load business_type_filter %}
{% block title %}CrowdSourceIt - Investors{% endblock title %}
{% block content %}
	<header id="featured" class="site-featured">
		<div id="featured-media" class="featured-media">
			<div class="featured-text">
				<div class="container">
					<h2 class="entry-title">My Investments</h2>
				</div>
			</div>
		</div>
	</header>

	<div id="content" class="site-content">
		<main class="site-section section-main">
			<div class="container">
				<div class="row">
					<div id="sidebar" class="col-12 col-md-4 col-lg-3 content-filters">
						<form action="{% url 'my-investments' %}" method="post">
                            {% csrf_token %}
							<h5 class="widget-title">Date</h5>
							<div class="content-filter-date content-filter-interval">
								<label for="date-from">
									<span>From:</span>
									<input type="date" id="date-from" name="date-from" value="2022-03-01">
								</label>
								<label for="date-to">
									<span>To:</span>
									<input type="date" id="date-to" name="date-to" value="2022-04-30">
								</label>
							</div>

							<h5 class="widget-title">Business Category</h5>
							<div class="content-filter-type">
                                {{ category_form.business_type }}
							</div>
                            <button type="submit" class="button button-primary button-default" name="filter-investments"><em class="mdi mdi-filter"></em>Filter</button>
						</form>
					</div>
					<div class="col-12 col-md-8 col-lg-9">
						<table class="text-center">
							<thead>
								<tr>
									<th><span class="d-none d-xl-inline">Name</span></th>
									<!-- <th>ID</th> -->
									<th><span class="d-none d-lg-inline">Proprietor</span> type</th>
									<th><span class="d-none d-lg-inline">Date of Investment</span> type</th>
									<th><span class="d-none d-xl-inline">ROI</span></th>
									<th>Amount Invested</th>
									<th><span class="d-none d-xl-inline">Expected Return Amount</th>
								</tr>
							</thead>
							<tbody>
                                {% for investment in my_investment %}
								<tr>
									<td><img src="assets/images/lv.svg" width="30" alt="" title="Latvia"></td>
									<!-- <td><a href="single-project.html" class="project-id">5903</a></td> -->
									<td>{{ investment.name }}</td>
                                    {% if investment.innovator.middle_name %}
									<td>{{ investment.innovator.last_name }}, {{ investment.innovator.first_name }} {{ investment.innovator.middle_name }}</td>
                                    {% else %}
                                    <td>{{ investment.innovator.first_name }} {{ investment.innovator.last_name }}</td>
                                    {% endif %}
                                    <td>{{ investment.date_sent }}</td>
									<td>{{ investment.investment.expected_return }}%</td>
									<td>₦{{ investment.amount }}</td>
									<td>₦{{ investment.expected_return }}</td>
								</tr>
                                {% endfor %}
							</tbody>
						</table>
						<div class="pagination">
							<a href="account-statement.html" class="button button-outline">Load more</a>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
{% endblock content %}