{% extends 'base.html' %}
{% load static %}
{% load business_type_filter %}
{% block title %}CrowdSourceIt - Projects{% endblock title %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
<script src="https://js.paystack.co/v1/inline.js"></script>
	<header id="featured" class="site-featured">
		<div id="featured-media" class="featured-media has-media">
			<div class="featured-text">
				<div class="container">
					<h2 class="entry-title">{{ project.name }}</h2>
					<div class="tagline">{{ project.motto }}</div>
				</div>
			</div>
			<img src="{{ project.image_1.url }}" alt="">
		</div>
	</header>

	{% if messages %}
    <ul class="messages">
        {% for message in messages %}
        {% if success %}
        {% endif %}
        <li  {% if message.tags %} class="fadeout p-3 text-center {{ message.tags }} " {% endif %} style="list-style: none;"> {{ message }} </li>
        {% endfor %}
    </ul>
	{% endif %}

	<div id="content" class="site-content">
		<main class="site-section section-main">
			<div class="container">
				<div class="row">
					<div class="text-muted fst-italic mb-4">Posted on {{ project.date_created }} by <a href="{% url 'accounts:profile_with_arg' project.innovator.pk %}">
						{% if project.innovator.user.middle_name %}
						{{ project.innovator.user.last_name }}, {{ project.innovator.user.first_name }} {{ project.innovator.user.middle_name }}
						{% else %}
						{{ project.innovator.user.first_name }} {{ project.innovator.user.last_name }}
						{% endif %}
					</a>
					</div>
					<div class="col-3 mb-5 d-inline">
						Status: 
						<span class="badge bg-success text-decoration-none link-light">
							{{ project.status }}
						</span>
					</div>
					<div class="col-12 mb-5 d-inline">
						<h4 class="d-inline">Seller of Shares: </h4>
						<a href="{% url 'accounts:profile_with_arg' project.innovator.pk %}" class="text-decoration-none text-dark">
							{% if project.innovator.user.middle_name %}
							{{ project.innovator.user.last_name }}, {{ project.innovator.user.first_name }} {{ project.innovator.user.middle_name }}
							{% else %}
							{{ project.innovator.user.first_name }} {{ project.innovator.user.last_name }}
							{% endif %}
						</a>
					</div>
					<div class="col-12">
						<h3>Project description</h3>
						<p>Sector: 
							{% for category in project.business_type|remove_chars %}
                                <span class="badge bg-success text-decoration-none link-light" href="#!">{{ category }}</span>
                                {% with success=None %}{% endwith %}
                            {% endfor %}
						</p>
						<p>{{ project.description }}</p>
					</div>
					<div class="col-6 col-lg-3">
						<div class="featured-box">
							<h5 class="featured-box-title">₦{{ project.target }}</h5>
							<p class="featured-box-content">Target</p>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<div class="featured-box">
							<h5 class="featured-box-title">{{ project.expected_return }}%</h5>
							<p class="featured-box-content">Expected return</p>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<div class="featured-box">
							<h5 class="featured-box-title">{{ project.term_months }} months</h5>
							<p class="featured-box-content">Term</p>
						</div>
					</div>
					<div class="col-6 col-lg-3">
						<div class="featured-box">
							<h5 class="featured-box-title">{{ project.investment_deadline }}</h5>
							<p class="featured-box-content">Investment Deadline</p>
						</div>
					</div>
				</div>
				<!-- <div class="row align-items-center">
					<div class="col-12 col-lg-6">
						<div class="row align-items-center">
							<div class="col-6">
								<div class="project-progress-chart">
									<svg viewBox="0 0 36 36">
										<path class="circle-total" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
										<path class="circle-current" stroke-dasharray="8.275, 100" d="M18 2.0845 a 15.9155 15.9155 0 0 1 0 31.831 a 15.9155 15.9155 0 0 1 0 -31.831" />
									</svg>
									<div class="percentage-text">8.275%</div>
								</div>
							</div>
							<div class="col-6">
								<div class="project-progress-numbers">
									<h3>₦206 380</h3>
									<p>Available for investment</p>
									<hr>
									<h3 class="status-funded">₦18 620</h3>
									<p class="status-funded">Already funded</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-6">
						<div class="data-box">
							<div class="data-property">Loan type</div>
							<div class="data-value">Real estate</div>
							<div class="data-property">Country</div>
							<div class="data-value">Lithuania</div>
							<div class="data-property">Date of issue</div>
							<div class="data-value">2022-01-26</div>
							<div class="data-property">Closing date</div>
							<div class="data-value">2024-01-26</div>
							<div class="data-property">Initial term</div>
							<div class="data-value">23 months</div>
							<div class="data-property">Collateral</div>
							<div class="data-value">Pledge of all rights</div>
							<div class="data-property">Collateral value</div>
							<div class="data-value">₦450000</div>
							<div class="data-property">Loan to value (LTV)</div>
							<div class="data-value">50%</div>
						</div>
					</div>
				</div> -->
				<div class="row">
					<div class="col-12">
						<h3>Project gallery</h3>
						<div class="video-wrapper status-pause">
							<video id="sample-video" src="{{ project.video.url }}" poster="{{ project.video.url }}"></video>
							<a href="#sample-video" class="video-playback"><span class="progress"></span><em class="mdi mdi-play"></em><em class="mdi mdi-pause"></em></a>
						</div>
						<div class="gallery gallery-columns-3">
							<figure class="gallery-item">
								<div class="gallery-icon">
									<a href="{{ project.image_1.url }}" data-fancybox="test-gallery"><img src="{{ project.image_1.url }}" alt="" style="width: 1100px;height: 350px;"></a>
								</div>
							</figure><figure class="gallery-item">
								<div class="gallery-icon">
									<a href="{{ project.image_2.url }}" data-fancybox="test-gallery"><img src="{{ project.image_2.url }}" alt="" style="width: 1100px;height: 350px;"></a>
								</div>
							</figure><figure class="gallery-item">
								<div class="gallery-icon">
									<a href="{{ project.image_3.url }}" data-fancybox="test-gallery"><img src="{{ project.image_3.url }}" alt="" style="width: 1100px;height: 350px;"></a>
								</div>
							</figure>
						</div>
						{% if request.user.is_innovator or not request.user.is_authenticated %}
						<div class="project-submit-investment" style="padding-bottom: 80px;">
							<h3>Start investing</h3>
							<!-- <p class="text-faded"><span class="mdi mdi-check-bold"></span> Buyback guarantee</p> -->
							<p>Your available funds 
								<strong>
									₦
									{% if request.user.is_authenticated %}
									{{ investor_1.account_balance }}
									{% else %}
									0
									{% endif %}
								</strong>
							</p>
							<!-- <form action="single-project.html">
								<label for="amount" class="sr-only">Amount:</label>
								<input type="number" id="amount" name="amount" placeholder="Enter the amount">
								<label for="confirm"><input type="checkbox" id="confirm" name="confirm"> I confirm that I have read and agree with <a href="#">Investment Agreement</a></label>
								
								<div class="clear"></div>
							</form> -->
						{% if project.status == 'Approved' %}
							<form method="POST" id="payForm" action="{% url 'invest' project.pk %}">
							{% csrf_token %}
							<div class="mb-3">
							  <label for="exampleInputPassword1" class="form-label">Amount</label>
							  <input type="number" class="form-control" id="amount" name="amount">
							  <button type="submit" name="invest" class="mb-5">Invest</button>
							</div>
						  </form>
						  {% else %}
						  <button type="submit" name="invest" class="mb-5">Wait till the project is approved before you can invest</button>
						  {% endif %}
					</div>
					{% elif request.user.is_moderator %}
					<form method="POST" action="{% url 'project_details' project.pk %}">
						{% csrf_token %}
						<div class="mb-3">
							<label for="category" class="form-label">Status</label>
							<input type="text" name="status" id="status">
						</div>
						<button type="submit" name="status_form">Submit</button>
					</form>
					{% endif %}
				</div>
			</div>
		</main>	
	</div>

	{% if project.innovator.user.pk == request.user.pk %}
	<div>
		<div class="container my-5">
			<h3 class="text-center mb-5">Investors</h3>
			<div class="row">
				<div id="sidebar" class="col-12 col-md-4 col-lg-3 content-filters">
					<form action="{% url 'project_details' project.pk %}" method="post">
						{% csrf_token %}
						<div class="content-filter-date content-filter-interval">
							<label for="date-from">
								<span>From:</span>
								<input type="date" id="date-from" name="date-from">
							</label>
							<label for="date-to">
								<span>To:</span>
								<input type="date" id="date-to" name="date-to">
							</label>
						</div>
						<button type="submit" class="button button-primary button-default" name="date-filter">Filter</button>
					</form>
				</div>
				<div class="col-12 col-md-8 col-lg-12">
					<table class="text-center">
						<thead>
							<tr>
								<th>ID</th>
								<th><span class="d-none d-xl-inline">Name</span> <span class="d-xl-none">Ctry</span></th>
								<th>Amount</th>
								<th>Date</th>
								<th><span class="d-none d-lg-inline">Username</span></th>
								<th><span class="d-none d-xl-inline">Email Address</span></th>
								<th><span class="d-none d-xl-inline">Mobile Number</span></th>
								<th><span class="d-none d-xl-inline">ROI</span> (Amount)</th>
							</tr>
						</thead>
						<tbody>
							{% for investor in investors %}
							<tr>
								<td><a href="single-project.html" class="project-id">{{ investor.pk }}</a></td>
								<td>{{ investor.sender.user.first_name }} {{ investor.sender.user.last_name }}</td>
								<td>₦{{ investor.amount }}</td>
								<td>{{ investor.date_sent }}</td>
								<td>{{ investor.sender.user.username }}</td>
								<td>{{ investor.sender.user.email }}</td>
								<td>{{ investor.sender.user.phone_num }}</td>
								<td>₦{{ investor.expected_return }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
					
				</div>
			</div>
		</div>
	</div>
	{% endif %}


	<!-- <script>
		// document.getElementById('make-payment-btn').addEventListener('click', makePayment);
		function makePayment(){
			let amount = document.getElementById('amount').value
		// e.preventDefault();
		let handler = PaystackPop.setup({
				key: 'pk_test_94c9c0292b58b03a1e0feaa5b1b1da81b04b0873', //public key from your paystack
				email: '{{ project.innovator.user.email }}',
				amount:`${amount}` * 100,
				currency:'NGN',
				// ref: ''+Math.floor((Math.random() * 100000000) + 1),
				// ref: ''+Math.floor((Math.random() * 1000000000) + 1),
				callback: function(response){
			// document.getElementById('hide').value = 'True';
			// document.getElementById('hide').style.visibility = 'visible';
			document.getElementById('payForm').submit();
			alert('Success. Transaction ref is ' +response.reference);
		},
		onClose: function(){
			alert('Window Closed');
		}
		});
		handler.openIframe();
	}
	// window.onload = makePayment()
	</script> -->
	<script>
        // Function to hide the toast element
        function hideToast() {
            $('.fadeout').fadeOut('slow', function() {
                // Animation complete, you can optionally remove the element from the DOM
                $(this).remove();
            });
        }
    
        // Set a timeout to call the hideToast function after 9 seconds (9000 milliseconds)
        setTimeout(hideToast, 5000);
    
    </script>
{% endblock content %}