{% extends 'base.html' %}
{% load static %}
{% load business_type_filter %}
{% block title %}CrowdSourceIt - Projects{% endblock title %}
{% block content %}
	<header id="featured" class="site-featured">
		<div id="featured-media" class="featured-media has-media">
			<div class="featured-text">
				<div class="container">
					<h2 class="entry-title">Projects</h2>
					<div class="tagline">We make investing easier.</div>
				</div>
			</div>
			<img src="tmp/sample-header.jpg" alt="">
		</div>
	</header>
    {% for project in projects %}
    niga
    {{ project.image_1.url }}
    <img src="{{ project.image_1 }}" alt="">
    {% endfor %}

	<div id="content" class="site-content">
		<main class="site-section section-main">
			<div class="container">
				<form action="projects.html" class="project-filters">
					<div class="filter-props">
						<p class="project-filter filter-status">
							<label>Status</label>
							<select name="status" id="status">
								<option value="new" selected="selected">New</option>
								<option value="coming-soon">Coming soon</option>
								<option value="funded">Funded</option>
								<option value="repaid">Repaid</option>
							</select>
						</p>
						<p class="project-filter filter-return">
							<label>Interest rate</label>
							<input class="minReturn" type="text" placeholder="From">
							<input class="maxReturn" type="text" placeholder="To">
						</p>
						<!-- <p class="project-filter filter-country">
							<label>Country</label>
							<select name="country" id="country">
								<option value="">All</option>
								<option value="es">Estonia</option>
								<option value="lv">Latvia</option>
								<option value="lt">Lithuania</option>
								<option value="world">Worldwide</option>
							</select>
						</p> -->
						<!-- <p class="project-filter filter-type">
							<label>Loan type</label>
							<select name="type" id="type">
								<option value="">All</option>
								<option value="business">Business</option>
								<option value="sme">SME</option>
								<option value="leasing">Leasing</option>
								<option value="realestate">Real estate</option>
							</select>
						</p> -->
					</div>
					<div class="filter-actions">
						<button type="submit" class="button-primary"><em class="mdi mdi-filter"></em> Filter projects</button>
						<button type="reset"><em class="mdi mdi-restart"></em> Reset filters</button>
					</div>
				</form>
				<div class="project-listing">
                    {% for project in projects %}
					<div class="entry-project project-status-active">
						<div class="project-media">
							<a href="single-project.html">
                                <img src="{{ project.image_1.url }}" alt="">
								<img src="{{ project.image_1.url }}" width="800" height="600" alt="">
								<span class="project-industry" title="Investment type"><em class="mdi mdi-information"></em> Business &mdash; {{ project.business_type|remove_chars|title }}</span>
								<span class="project-country" title="Estonia"><img class="office-country" src="assets/images/ee.svg" width="24" alt=""> <em class="screen-reader-text">{{ project.country }}</em></span>
							</a>
							<span class="project-status"><em class="mdi mdi-plus"></em> Active</span>
						</div>
                        <img src="{{ project.image_2.url }}" alt="">
						<div class="project-details">
							<h3 class="project-title"><a href="single-project.html">{{ project.name|title }}</a></h3>
							<p class="project-summary">{{ project.description }}</p>
							<div class="project-specs">
								<div class="project-total-invested">
									<strong><span class="currency-sign">₦</span>{{ project.target }}</strong>
									<span>Target</span>
								</div>
								<div class="project-return">
									<strong>{{ project.expected_return }}%</strong>
									<span>Expected return</span>
								</div>
								<div class="project-term">
									<strong>{{ project.term_months }} months</strong>
									<span>Term</span>
								</div>
								<div class="project-countdown">
									<strong>{{ project.investment_deadline }}</strong>
									<span>Investment Deadline</span>
								</div>
							</div>
							<div class="project-progress">
								<div class="progress-bar">
									<div class="progress-current" style="width:48.665%"></div>
									<div class="progress-minimum" style="width:62.5%">
										<div class="progress-minimum-pointer">
											<span class="project-minimum-goal-info">Min<span class="screen-reader-text">imum</span> goal</span>
											<span class="project-minimum-goal-amount"><span class="currency-sign">₦</span>25 000</span>
										</div>
									</div>
								</div>
								<div class="progress-info">
									<div class="progress-current-amount"><strong><span class="currency-sign">₦</span>19 466</strong> invested</div>
									<div class="progress-amount-left"><strong><span class="currency-sign">₦</span>20 534</strong> left</div>
								</div>
							</div>
							<div class="project-actions">
								<a href="single-project.html" class="button button-primary">Details</a>
							</div>
						</div>
					</div>
                    {% endfor %}
				</div>
				<div class="pagination">
					<span class="page-numbers current">1</span>
					<a href="projects.html" class="page-numbers">2</a>
					<span class="page-numbers dots">…</span>
					<a href="projects.html" class="page-numbers">5</a>
					<a href="projects.html" class="page-numbers">Next page<span class="mdi mdi-chevron-right"></span></a>
				</div>
			</div>
		</main>
	</div>
{% endblock content %}