{% extends 'base.html' %}
{% load static %}
{% load business_type_filter %}
{% load pagination_tags %}
{% block title %}CrowdSourceIt - Projects{% endblock title %}
{% block content %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">

	<header id="featured" class="site-featured">
		<div id="featured-media" class="featured-media has-media">
			<div class="featured-text">
				<div class="container">
					<h2 class="entry-title">Projects</h2>
					<div class="tagline">We make investing easier.</div>
				</div>
			</div>
			<img src="tmp/sample-header.jpg" alt="">
		</div>
	</header>

	<div id="content" class="site-content">
		<main class="site-section section-main">
			<div class="container">
				<form action="{% url 'search_projects' %}" method="get">
					<input class="" name="query" type="text" placeholder="Search projects" value="{% if query %}{{ query }}{% endif %}">
				</form>
				<form action="{% url 'projects' %}" class="project-filters" method="GET">
					<div class="filter-props">
						<!-- <p class="project-filter filter-status">
							<label>Status</label>
							<select name="status" id="status">
								<option value="new" selected="selected">New</option>
								<option value="coming-soon">Coming soon</option>
								<option value="funded">Funded</option>
								<option value="repaid">Repaid</option>
							</select>
						</p> -->
							<p class="project-filter filter-return">
								<label>Expected Return Rate (ROI)</label>
								<input class="minReturn" name="from_expected_return" type="text" placeholder="From" value="{% if from_expected_return %}{{ from_expected_return }}{% endif %}">
								<input class="maxReturn" name="to_expected_return" type="text" placeholder="To" value="{% if to_expected_return %}{{ to_expected_return }}{% endif %}">
								<button type="submit" class="button button-primary button-default"><em class="mdi mdi-filter"></em>Filter Result</button>
							</p>
						<!-- <p class="project-filter filter-country">
							<label>Country</label>
							<select name="country" id="country">
								<option value="">All</option>
								<option value="es">Estonia</option>
								<option value="lv">Latvia</option>
								<option value="lt">Lithuania</option>
								<option value="world">Worldwide</option>
							</select>
						</p> -->
						<!-- <p class="project-filter filter-type">
							<label>Loan type</label>
							<select name="type" id="type">
								<option value="">All</option>
								<option value="business">Business</option>
								<option value="sme">SME</option>
								<option value="leasing">Leasing</option>
								<option value="realestate">Real estate</option>
							</select>
						</p> -->
					</div>
					<!-- <div class="filter-actions">
						<button name="filter" type="submit" class="button-primary"><em class="mdi mdi-filter"></em> Filter projects</button>
						<button type="reset"><em class="mdi mdi-restart"></em> Reset filters</button>
					</div> -->
				</form>
				{% if request.session.search_projects_no_result %}
				<h3>No investment project matches "{{request.session.project_query}}"</h3>
				{% else %}
				{% if query %}
				<h3 class="mb-5">Results for "{{ query }}"</h3>
				{% endif %}
				<div class="project-listing">
                    {% for project in projects %}
					<div class="entry-project project-status-active">
						<div class="project-media">
							<a href="{% url 'project_details' project.pk %}">
								<img src="{{ project.image_1.url }}" style="width: 600px;height: 650px;border-radius: 3%;" alt="">
								<span class="project-industry" title="Investment type"><em class="mdi mdi-information"></em> Business &mdash; 
									
									{% for category in project.get_business_categories_list %}
                                    {% if forloop.counter != project.get_business_categories_list|length %}
                                    {{ category }},
                                    {% else %}
                                    {{ category }}
                                    {% endif %}
                                    {% endfor %}
								</span>
								<span class="project-country" title="Estonia"><img class="office-country" src="assets/images/ee.svg" width="24" alt=""> <em class="screen-reader-text">{{ project.country }}</em></span>
							</a>
							<span class="project-status" style="background-color: #00B951;"><em class="mdi mdi-plus"></em>
								{% if project.status is None %}
								Yet to be Reviewed
								{% else %}
								{{ project.status }}
								{% endif %}
							</span>
						</div>
						<div class="project-details">
							<h3 class="project-title"><a href="{% url 'project_details' project.pk %}">{{ project.name|title }}</a></h3>
							<p class="project-summary">{{ project.description|truncatewords:50 }}</p>
							<div class="project-specs">
								<div class="project-total-invested">
									<strong><span class="currency-sign">₦</span>{{ project.target }}</strong>
									<span>Target</span>
								</div>
								<div class="project-return">
									<strong>{{ project.expected_return }}%</strong>
									<span>Expected return</span>
								</div>
								<div class="project-term">
									<strong>{{ project.term_months }} months</strong>
									<span>Term</span>
								</div>
								<div class="project-countdown">
									<strong>{{ project.investment_deadline }}</strong>
									<span>Investment Deadline</span>
								</div>
							</div>
							<div class="project-progress">
								<div class="progress-bar">
									<div class="progress-current" style="width:{{ project.fund_raised_percentage }}%;background-color: green;"></div>
									<!-- <div class="progress-minimum" style="width:62.5%">
										<div class="progress-minimum-pointer">
											<span class="project-minimum-goal-info">Min<span class="screen-reader-text">imum</span> goal</span>
											<span class="project-minimum-goal-amount"><span class="currency-sign">₦</span>25 000</span>
										</div>
									</div> -->
								</div>
								<div class="progress-info">
									<div class="progress-current-amount"><strong><span class="currency-sign">₦</span>
										{% if project.fund_raised  %}
										{{ project.fund_raised }}
										{% else %}
										0
										{% endif %}
									</strong> invested</div>
									<div class="progress-amount-left">
										Target:
										<strong><span class="currency-sign">₦</span>
										{{ project.target }}
									</strong>
									</div>
								</div>
							</div>
							<div class="project-actions">
								<a href="{% url 'project_details' project.pk %}" class="button button-primary">Details</a>
							</div>
						</div>
					</div>
                    {% endfor %}
				</div>
				
				<div class="d-flex flex-column m-auto pagination mt-5">
					<nav aria-label="Page navigation">
					{% if from_expected_return %}
						<ul class="pagination pg-grey justify-content-center" style="list-style: none;">
							{% if projects.has_previous %}
								<li class="page-item">
								<a class="page-numbers" href="?{% if query %}query={{query}}&{% endif %}&page={{projects.previous_page_number}}">Previous</a>
								</li>
							{% endif %}
						
							{% for i in projects.paginator.page_range %}
								{% if projects.number == i %}
									<li class="page-item active">
										<span class="page-numbers current">
											{{ i }}
											<span class="sr-only">(current)</span>
										</span>
									</li>
								{% else %}
									<li class="page-item"><a class="page-numbers" href="?{% if query %}query={{query}}&{% endif %}page={{ i }}">{{ i }}</a></li>
								{% endif %}
							{% endfor %}
							
							{% if projects.has_next %}
								<li class="page-item">
								<a class="page-numbers" href="?{% if query %}query={{query}}&{% endif %}page={{ projects.next_page_number }}">Next
									
								</a>
								</li>
								<li class="page-item">
								<a class="page-numbers"  href="?{% if query %}query={{query}}&{% endif %}page={{ projects.paginator.num_pages }}">Last</a>
								</li>
							{% endif %}
						</ul>
						{% else %}
						<ul class="pagination pg-grey justify-content-center" style="list-style: none;">
							{% if projects.has_previous %}
								<li class="page-item">
								<a class="page-numbers" href="?{% if query %}query={{query}}&{% endif %}&page={{projects.previous_page_number}}">Previous</a>
								</li>
							{% endif %}
						
							{% for i in projects.paginator.page_range %}
								{% if projects.number == i %}
									<li class="page-item active">
										<span class="page-numbers current">
											{{ i }}
											<span class="sr-only">(current)</span>
										</span>
									</li>
								{% else %}
									<li class="page-item"><a class="page-numbers" href="?{% if query %}query={{query}}&{% endif %}page={{ i }}">{{ i }}</a></li>
								{% endif %}
							{% endfor %}
							
							{% if projects.has_next %}
								<li class="page-item">
								<a class="page-numbers" href="?{% if query %}query={{query}}&{% endif %}page={{ projects.next_page_number }}">Next
									
								</a>
								</li>
								<li class="page-item">
								<a class="page-numbers"  href="?{% if query %}query={{query}}&{% endif %}page={{ projects.paginator.num_pages }}">Last</a>
								</li>
							{% endif %}
						</ul>
						{% endif %}
					</nav>
				</div>
				{% endif %}
			</div>
		</main>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
{% endblock content %}