{% extends 'base.html' %}
{% load static %}
{% load business_type_filter %}
{% block title %}Project Milestones{% endblock title %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
<style>
    @media (min-width: 1200px) {
       .toastDiv {
       position: absolute;
       right: -110px;
       top: 3rem;
       z-index: 5
       }
       
   }
   @media (min-width: 1200px) {
    .account-errors {
    position: absolute;
    right: -110px;
    top: 11rem;
    z-index: 5
    }
    
}
</style>
</head>
<body>
    <header id="featured" class="site-featured">
        <div id="featured-media" class="featured-media">
            <div class="featured-text">
                <div class="container">
                    <h2 class="entry-title">Project Milestones</h2>
                </div>
            </div>
        </div>
    </header>
    <div class="col-lg-8 col-xl-5 toastDiv mt-5 mx-auto">
                    
        <!-- Then put toasts within -->
        {% if messages %}
        <div class="card toast mb-2 bg-gray animate__animated animate__pulse" role="alert" data-delay="10" aria-live="assertive" aria-atomic="true" data-autohide="false" style="margin: auto">
        <div class="toast-body text-white m-2">
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags == 'alert-success' %} class="text-success" {% endif %} style="list-style: disc;">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
        </div>
        {% endif %}
    </div>
    <div class="container" style="margin-top: 100px;margin-bottom: 50px;">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                {% if project_milestones|length > 0 %}
                <table class="text-center table table-responsive">
                    <thead>
                        <tr>
                            <!-- <th>ID</th> -->
                            <th>No</th>
                            <th><span class="d-none d-xl-inline">Title</span>
                            <th>Description</th>
                            <th>Target Date</th>
                            <th>Date Added</th>
                            <th>Status</th>
                            <th></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for project_milestone in project_milestones %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>
                                <a href="" class="text-decoration-none">{{ project_milestone.title }}</a></td>
                            <td>{{ project_milestone.description }}</td>
                            <td class="col-3">{{ project_milestone.target_date }}</td>
                            <td>{{ project_milestone.date_added }}</td>
                            {% if project_milestone.status|upper == 'IN PROGRESS' %}
                            <td class="fw-bold text-info">{{ project_milestone.status|upper }}</td>
                            {% elif project_milestone.status|upper == 'COMPLETED' %}
                            <td class="fw-bold text-success">{{ project_milestone.status|upper }}</td>
                            {% else %}
                            <td class="fw-bold text-danger">{{ project_milestone.status|upper }}</td>
                            {% endif %}
                            <td class="text-success">
                                <div class="dropdown">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#009900" class="w-6 h-6 dropdown-toggle" style="width: 30px;" id="dropdownMenuButton1" data-toggle="dropdown" aria-expanded="false">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 12.75a.75.75 0 110-1.5.75.75 0 010 1.5zM12 18.75a.75.75 0 110-1.5.75.75 0 010 1.5z" />
                                    </svg>
                
                                    <ul class="dropdown-menu m-0" aria-labelledby="dropdownMenuButton1" style="margin-left: 0;float: left;padding: 0px;margin: 0px;">
                                        <li><a class="dropdown-item px-3 m-0 " href="{% url 'milestone_details' project_milestone.pk %}">View Details</a></li>
                                        {% if project_milestone.project.innovator.user.pk == request.user.pk %}
                                        <li><a class="dropdown-item px-3 m-0 " href="{% url 'update_milestone' project_milestone.pk %}">Update</a></li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <h4>No milestones have been added.</h4>
                {% endif %}
            </div>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    $('.toast').toast('show');
});

setTimeout(function() {
    $('.toast').toast('hide')
}, 8000)
</script>
</html>
{% endblock content %}