{% extends 'base.html' %}
{% block title %}Password Change{% endblock title %}

{% block content %}
    <style>
        .form-control {
            border: 3px solid #EDF1FF;
            height: 3rem;
            width: 23rem;
            margin: 0 auto;
            margin-top: 1rem;
        }
    </style>
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <h4 class="mb-3 text-center">Change password</h4>
            <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
            <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
            <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">
        </form>

        <div class="errors mt-2" style="text-align: center;">
            {% for field in form %}
            {% for error in field.errors %}
                <p style="color: rgb(175, 23, 23);">{{error}}</p>
            {% endfor %}
            {% endfor %}

            {% if form.non_field_errors %}
                <p style="color: rgb(175, 23, 23);">{{form.non_field_errors}}</p>
            {% endif %}
        </div>
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-primary" style="font-weight: 600;" type="submit">Update Password</button>
      </div>
{% endblock content %}