{% extends 'base.html' %}
{% block title %}Password Reset Form{% endblock title %}

{% block content %}
    <h3 style="text-align: center;" class="mt-5">Reset Password</h3>
    <form method="POST" class="mt-2">
        {% csrf_token %}
        <div>
            <input type="password" name="new_password1" id="new_password1" class="d-block form-cowntrol mb-2 passwords" placeholder="Password" required="true" style="margin: 0 auto;width: 23rem;height: 3rem;">
            <input type="password" name="new_password2" id="new_password2" class="d-block form-control passwords mt-2" placeholder="Repeat password" required="true" style="margin: 0 auto;width: 23rem;height: 3rem;">
        </div>

        <div class="errors mt-2" style="text-align: center;">
            
            {% for field in form %}
            {% for error in field.errors %}
            <p style="color: rgb(175, 23, 23);">ERROR: {{error}}</p>
            {% endfor %}
            {% endfor %}

            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p style="color: rgb(175, 23, 23);">{{error}}</p>
            {% endfor %}
            {% endif %}
        </div>

        <div class="text-center mt-4">
            <button class="btn" style="background-color: #74c192;color: black;font-weight: 500;padding: 0.5rem;" type="submit">
                Set Password
            </button>
        </div>
    </form>
{% endblock content %}