{% extends 'base.html' %}
{% block title %}Password Reset{% endblock title %}

{% block content %}

    <h3 class="text-center" style="font-weight: 600;">Reset Password</h3>
    <!-- Reset Password -->
    <div class="container">
        <form action="" method="POST">
            {% csrf_token %}
            <input type="email" name="email" id="id_email" class="form-control" required="true" placeholder="Email Address" style="margin: 0 auto;width: 23rem;border: 3px solid #EDF1FF;height: 3rem;">
            <div style="text-align:center;">
                <button class="btn" style="background-color: #C17A74;margin-top: 2rem;color: rgb(7, 1, 1);font-weight: 600;" type="submit">
                    Reset
                </button>
            </div>
        </form>
    </div>
{% endblock content %}